{% extends 'basic.html' %}

{% block title %} Blog{% endblock title %}

{% block style %}
{%load static %}

{% endblock style %}
{% block body %}
    

<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Welcome to my Blog</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        {%for post in posts %}
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{{post.img.url}}" class="img-fluid" alt="no-image">
              </div>
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">{{post.tittle}}</a></h4>
          <p class="description">{{post.description}}</p>
          <h6> Posted by:<b>{{post.authname}}<b></h6> 
          <p >Posted on:<b>{{post.timeStamp}}</p><b>
        </div>
        {% endfor %}
      </div>

    </div>
  </section> 

{% endblock body %}